.femfest {
    z-index: 1;

    /* Стили для лого Фем Феста */
    /*height: 28rem;*/
    /*width: 22rem;*/

    height: 24rem;
    width: 18rem;

    @media (min-width: 1441px ) {
        height: 50vh;
        width: 40vh;
    }
}
.abstractUnderDate {
    width: 100%;
    height: 100%;
}